<%- include ("../user/partials/header")%>



    <!--================login_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Back to Login</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="/user/login" class="btn_3">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Forgot your password? <br>
                                Confirm your email here</h3>
                            <form class="row contact_form" id="resetForm" novalidate="novalidate">

                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Enter New Password">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="confirmpassword"
                                        name="confirmpassword" value="" placeholder="Confirm Password">
                                   
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">

                                    </div>
                                    <button type="submit" class="btn_3">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>






async function checkUpdate() {
    document.getElementById("resetForm").addEventListener("submit", async (e) => {
        e.preventDefault(); 

        
        const password = document.querySelector("#password").value.trim();
        const confirmPassword = document.querySelector("#confirmpassword").value.trim(); 


        if (!password || password.length < 6) {
            Swal.fire({
                icon: "warning",
                title: "Weak Password",
                text: "Password must be at least 6 characters long!",
            });
            return;
        }


        if (!confirmPassword || password !== confirmPassword) {
            Swal.fire({
                icon: "error",
                title: "Password Mismatch",
                text: "Confirm Password does not match!",
            });
            return;
        }

        
        try {
            const response = await fetch("/user/reset-password", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({  password, confirmPassword }),
            });
         

            const data = await response.json();

            if (data.success) {
                Swal.fire({
                    icon: "success",
                    title: "Reset Password Successful!",
                    text: "Redirecting to Login...",
                }).then(() => {
                    window.location.href = "/user/login"; 
                });
            } else {
                Swal.fire({
                    icon: "error",
                    title: "Signup Failed",
                    text: data.message || "Something went wrong, please try again!",
                });
            }
        } catch (error) {
            Swal.fire({
                icon: "error",
                title: "Server Error",
                text: "Could not connect to the server. Try again later.",
            });
        }
    });






    try {
        const response = await fetch("/user/get-update");
        const data = await response.json();
        
        if (data.success) {
            Swal.fire({
                icon: "warning",
                title: "Time is UP",
                text: "Time is Up! Please try again",
            }).then(() => {
                window.location.href = "/user/forgot-password";
            });
        }
    } catch (error) {
        console.error(error);
        Swal.fire({
            icon: "error",
            title: "Server error",
            text: "Server error! Please try again later.",
        });
    }
}


checkUpdate();












    </script>


    <%- include ("../user/partials/footer")%>